* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Rubik", sans-serif;
  color: #444;
}
.container {
  margin: 0 auto;
  width: 100%; /* Ändrat */
}
header {
  height: 50vh;
  position: relative;
  background-image: linear-gradient(rgb(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)),
    url(Bilder/spela-pool.png);
  background-size: cover;
  color: #fff;
}
.header--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgba(26, 25, 25, 0.8);
  opacity: 1.5;
}
/* .loggan {
  position: start;
  font-size: 50px;
  padding-left: 3%;
  color: #fff;
} */
.meny--huvud {
  display: flex;
  right: 20px;
  align-items: center;
  gap: 20px;
  padding-right: 3%;
  justify-content: flex-end;
  min-width: fit-content;
}
#navigation {
  min-width: fit-content;
  padding: 2%;
}

nav {
  font-size: 20px;
  font-weight: bold;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: auto;
  z-index: 200;
}

.header--container--inner {
  width: 50%;
}

.container--aktivitet {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 20px;
  gap: 20px;
  background-color: #fff;
}
.aktivitet {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  justify-content: center;
  flex-direction: column;
}
.img-aktivitet {
  width: 500px;
  height: 300px;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  justify-content: center;
  transform: translate(200%, -100%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.aktivitet:hover .img-aktivitet {
  opacity: 0.3;
}

.aktivitet:hover .middle {
  opacity: 1;
}
.text {
  background-color: #04aa6d;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

h1 {
  font-size: 52px;
  margin-bottom: 32px;
  line-height: 1.05;
}

p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 48px;
}

h2 {
  font-size: 44px;
  margin-bottom: 48px;
}
.containerFooter {
  margin: 0 auto;
  margin-top: 10px;
  width: 100%;
  align-items: baseline;
  background-color: #e5deca;
}
