/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/* html {
  font-family: "Rubik", sans-serif;
  color: #555;
} */
/* body {
  background-color: #fff;
} */
/* nav {
  font-size: 20px;
  font-weight: bold;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: auto;
  z-index: 200;
} */
/* .header--header--bokning {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgba(26, 25, 25, 0.8);
  color: #fff;
  opacity: 1.5;
} */
/* .btnLoggan:link,
.btnLoggan:visited {
  font-size: 40px;
  font-weight: 600px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 9px;
} */
/* .meny--huvud {
  display: flex;
  right: 20px;
  align-items: center;
  gap: 20px;
  padding-right: 3%;
  justify-content: flex-end;
  min-width: fit-content;
} */
/* #navigation {
  min-width: fit-content;
  padding: 2%;
} */
/* .btnHeader:link,
.btnHeader:visited {
  font-size: 20px;
  font-weight: 600px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 9px;
} */
/* .header--bokning {
  min-height: 100vh;
  position: relative;
  background-image: linear-gradient(rgb(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)),
    url(Bilder/pool.jpg);
  background-size: cover;
  color: #f7f7f7f7;
} */
/* .btn:link,
.btn:visited {
  font-size: 20px;
  font-weight: 600px;
  color: #444;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 9px;
} */
/* .container--meny {
  margin: 0 auto;
  margin-top: 10px;
  width: 1200px;
  align-items: baseline;
  background-color: #f7f7f7f7;
} */
/* .container--inner--left--meny {
  float: left;
  width: 40%;
  background-color: #f7f7f7f7;
}
.container--inner--right--meny {
  float: right;
  width: 40%;
  background-color: #f7f7f7f7;
} */
/* .header--container--bokning {
  width: 1000px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.192);
  border-radius: 9px;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 20px;
  padding: 25px;
  flex: 1 0 auto;
} */
/* .header--container--bokningsinformation--bokning {
  margin: auto;
  text-align: start;
  min-height: 0;
  max-height: 2500px;
} */
/* .header--container--layout--bokning {
  flex: 1 275 150px;
  margin: auto;
  min-height: 0;
  max-height: 2500px;
} */
/* .input--bokning {
  border-radius: 3px;
  background-color: #444;
  color: #f7f7f7f7;
} */
/* .input--bokning,
select {
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #f7f7f7f7;
} */
/* .input--bokning::placeholder {
  color: #f7f7f7f7;
} */
/* label {
  color: #f7f7f7f7;
} */
/* .imgLayout {
  width: 100%;
  margin-right: 25%;
  border-radius: 5px;
  /* mix-blend-mode: color-burn;  ganska ball syntax som tar bort vit bakgrund på bilder
} */

/* .menyPil {
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: #f7f7f7f7;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
} */
/* .menyPil:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
} */
/* .container--menyPil {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 85vh;
} */
/* .menyPilText {
  display: flex;
  justify-content: center;
  margin-left: -4.2%;
} */

/* h1 {
  font-size: 52px;
  margin-bottom: 32px;
  line-height: 1.05;
  color: #f7f7f7f7;
} */

/* p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 48px;
} */
/* h2 {
  font-size: 44px;
  margin-bottom: 48px;
} */
/* #sectionMeny {
  padding: 96px 0;
  background-color: #f7f7f7f7;
  height: 150vh;
} */
/* .ulMeny {
  list-style: none;
  font-family: "Rubik", sans-serif;
  color: #444;
} */
/* .liHuvudmeny {
  margin-bottom: 5px;
  border-bottom: 2px #444 dotted;
  font-size: 26px;
  line-height: 3;
} */
/* .liHuvudmeny span:nth-child(odd) {
  padding-right: 6px;
  color: #444;
} */
/* .liHuvudmeny span:nth-child(even) {
  float: right;
  padding-left: 6px;
  color: #444;
} */
/* .ulMeny span {
  position: relative;
  bottom: -7px;
} */
/* .btn--boka {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600px;
  background-color: #555;
  color: #f7f7f7f7;
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 5px;
} */
/* .btn--boka .confirmation {
  visibility: hidden;
  width: 260px;
  background-color: #555;
  color: #f7f7f7f7;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
} */
/* .btn--boka .confirmation:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
} */
/* .btn--boka .visa {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
} */

/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  background: black;
  z-index: -1;
} */

/* #main-menu {
  display: block;
  height: 100px;
  width: 100%;
  background: #fff;
  margin: 0px;
  z-index: 9;
  float: right;
} */

/* #main-menu ul {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
} */
/* 
#main-menu li {
  list-style-type: none;
  font-size: 0.5rem;
} */

/* #main-menu a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
} */

/* #main-menu a:hover {
  text-decoration: underline;
} */

/* #hamburger-input {
  display: none;
} */

/* #hamburger-menu {
  position: fixed;
  top: 10px;
  right: 20px;
  width: 6vh;
  height: 6vh;
  display: none;
  border: none;
  padding: 0px;
  margin: 0px;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath fill="%23ffffff" d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: center;
} */

/* #hamburger-menu #sidebar-menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 60%;
  height: 100%;
  background-color: rgba(26, 25, 25, 0.9);
  transition: 0.3s;
  padding: 0px 10px;
  box-sizing: border-box;
} */

/* #hamburger-menu h3 {
  color: #fff;
  font-size: 2.2rem;
} */

/* #hamburger-menu ul {
  padding-left: 0px;
} */

/* #hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
} */

/* #hamburger-menu a {
  color: #fff;
  font-size: 1.3rem;
  text-decoration: none;
} */

/* #hamburger-menu a:hover {
  text-decoration: underline;
} */

/* #hamburger-input:checked + #hamburger-menu #sidebar-menu {
  visibility: visible;
  left: 0;
} */
/* #hamburger-input:checked ~ .overlay {
  visibility: visible;
  opacity: 0.4;
} */

/* @media screen and (max-width: 750px) {
  .meny--huvud {
    display: none;
  }
  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: inline;
  }
  .container {
    display: block;
    float: none; 
    width: 100%; 
  }
  .body {
    float: none;
    width: 100%;
  }
  .header {
    float: none;
    width: 100%;
  }
  .header--header {
    overflow-x: hidden; 
    overflow-y: hidden; 
    float: none;
    width: 100%;
  }
  .meny--huvud {
    flex-direction: column; 
    place-items: end; 
    width: 100%;
  }
  .header--container {
    overflow-x: hidden;
    overflow-y: hidden;
    float: none;
    width: 100%;
  }
  .header--container--left {
    margin-top: 50%;
    float: none;
    width: 100%;
  }
  .header--container--right {
    flex-direction: row;
    float: none;
    width: 100%;
  }

  .section {
    float: none;
    width: 100%;
  }
  .sectionMeny {
    float: none;
    width: 100%;
  }
  .container--menyPil {
    display: none;
  }
  .menyPil {
    display: none;
  }
  .menyPil:hover {
    display: none;
  }
  .menyPilText {
    display: none;
  }
  .div.container--menyPil {
    display: none;
  }
  .big--container {
    float: none;
    width: 100%;
  }
  .liHuvudmeny {
    float: none;
    width: 100%;
  }
  .ulMeny {
    float: none;
    width: 100%;
  }
  .container--inner--left {
    float: none;
    width: 100%;
  }
  .container--inner--right {
    float: none;
    width: 100%;
  }
  .h1 {
    float: none;
    width: 100%;
  }
  .btnHeader:link,
  .btnHeader:visited {
    padding: none;
    font-size: 10px;
    float: none;
    width: 100%;
    height: 5px;
  }
  div.meny--huvud {
    gap: 0.01px; 
    border-style: outset;
    border-top: none;
  }
  div.loggan {
    position:end; 
    font-size: 20px; 
    float: none;
    width: 100%;
  }
} */
