.container {
  margin: 0 auto;
  width: 1200px;
}
.loggan {
  position: start;
  font-size: 50px;
  padding-left: 3%;
  color: #fff;
}
.meny--huvud {
  display: flex;
  right: 20px;
  align-items: center;
  gap: 20px;
  padding-right: 3%;
  justify-content: flex-end;
  min-width: fit-content;
}
header {
  /*background-color: orangered;*/
  height: 70vh;
  position: relative;
  background-image: linear-gradient(rgb(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)),
    url(Bilder/goaaaaaaal.png);
  background-size: cover;
  color: #fff;
}
.header--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgba(26, 25, 25, 0.8);
  opacity: 1.5;
}

.header--container {
  width: 1200px;
  position: absolute;
  /* in relation to PARENT size*/
  left: 50%;
  top: 50%;
  /*in relation to ELEMENT size*/
  transform: translate(-50%, -50%);
  /* background-color: #228ee6; */
  opacity: 1;

  /*background-color: violet;*/
}
.header--container--inner {
  width: 50%;
  /*background-color: blue;*/
  /* background-color: red; */
  opacity: 1;
}

.btn:link,
.btn:visited {
  font-size: 20px;
  font-weight: 600px;

  color: #ffffff;

  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 9px;
}

section {
  padding: 30px 0;
  background-color: #f7f7f7f7;
}

.ulSport {
  list-style: none;
  position: relative;
  font-family: "Sport";
  width: 800px;
  height: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* HÄR LÄMNADE VI */
.liSport {
  margin-bottom: 20px;
  border-bottom: 2px;
  font-size: 26px;
  line-height: 1.5;
  /* #404b51 dotted låg vid border-bottom*/
}

ul li span:nth-child(odd) {
  padding-right: 6px;
  /* color: #404b51; */
}

ul li span:nth-child(even) {
  float: right;
  padding-left: 15px;
  /* color: #fff; */
}

ul span {
  position: relative;
  bottom: -5px;
}
