.container--sektion {
  padding: 30px 0;
  margin: 0 auto;
  width: 1200px;
  background-color: #f7f7f7f7;
}

.dagens--datum {
  color: #555;
}

header {
  height: 70vh;
  position: relative;
  background-image: linear-gradient(rgb(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)),
    url(Bilder/goaaaaaaal.png);
  background-size: cover;
  color: #fff;
}

.ulSport {
  list-style: none;
  position: relative;
  font-family: "Sport";
  width: 800px;
  height: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.liSport {
  margin-bottom: 20px;
  border-bottom: 2px;
  font-size: 26px;
  line-height: 1.5;
  /* #404b51 dotted låg vid border-bottom*/
}

ul li span:nth-child(odd) {
  padding-right: 6px;
  /* color: #404b51; */
}

ul li span:nth-child(even) {
  float: right;
  padding-left: 15px;
  /* color: #fff; */
}

ul span {
  position: relative;
  bottom: -5px;
}
