/* GENERAL STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Rubik", sans-serif;
  color: #444;
}

h1 {
  font-size: 52px;
  margin-bottom: 32px;
  line-height: 1.05;
}
h2 {
  font-size: 44px;
  margin-bottom: 10px;
  margin-top: 20;
}
/* Colour 



*/

/* NAV */
nav {
  font-size: 20px;
  font-weight: bold;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: auto;
  z-index: 200;
}
#navigation {
  min-width: fit-content;
  padding: 2%;
}
.nav--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgba(26, 25, 25, 0.8);
  opacity: 1.5;
}
.loggan {
  position: start;
  font-size: 50px;
  padding-left: 3%;
  color: #fff;
}
.nav--btn--container {
  display: flex;
  right: 20px;
  align-items: center;
  gap: 20px;
  padding-right: 3%;
  justify-content: flex-end;
  min-width: fit-content;
}
.navbtn:link,
.navbtn:visited {
  font-size: 20px;
  font-weight: 600px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 9px;
}
/* HEADER  */
.header--container {
  width: 1200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.header--container p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 8px;
}
.header--container--inner {
  width: 50%;
}
/* BODY  */

/* FUNTION  */

/* SECTION */

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  line-height: 1.5;
  color: #555;
  font-size: 18px;
  gap: 20px;
  background-color: #e5deca;
}
.containerFooter {
  margin: 0 auto;
  margin-top: 10px;
  width: 1200px;
  align-items: baseline;
  background-color: #e5deca;
}
.footer h3,
h4,
h5,
h6 {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 400px;
}

.ulList {
  font-size: 18px;
  margin-bottom: 0;
}

.footer--left {
  width: 25%;
}

.footer--middle--left {
  width: 25%;
}
.footer--middle--right {
  width: 25%;
}
.footer--middle--right {
  width: 25%;
}
.footer--right {
  width: 25%;
}
.list {
  line-height: 1.5;
  list-style-type: none;
}
svg {
  width: 32px;
  height: 32px;
  margin-bottom: 20px;
}
.mail--container {
  display: flex;
  align-items: center;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.ulFooter {
  font-family: "Rubik", sans-serif;
  margin-bottom: 50px;
}
