/* GENERAL STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Rubik", sans-serif;
  color: #555;
}
.containerHuvudsida {
  margin: 0 auto;
  width: 1200px;
  color: #555;
  background-color: #e9f4fd;
}
header {
  /*background-color: orangered;*/
  height: 75vh;
  position: relative;
  background-image: linear-gradient(rgb(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)),
    url(Bilder/pool.jpg);
  background-size: cover;
  color: #fff;
}
h1 {
  font-size: 52px;
  margin-bottom: 32px;
  line-height: 1.05;
  color: #fff;
}
h2 {
  font-size: 44px;
  margin-bottom: 10px;
  margin-top: 20;
}
p {
  font-size: 20px;
  line-height: 1.6;
}
/* ---------- */

/* Color */

/* ---------- */

/* NAV / Knappar */
nav {
  font-size: 20px;
  font-weight: bold;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: auto;
  z-index: 200;
}
#navigation {
  min-width: fit-content;
  padding: 2%;
}
.nav--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgba(26, 25, 25, 0.8);
  opacity: 1.5;
}
.btnLoggan:link,
.btnLoggan:visited {
  font-size: 40px;
  font-weight: 600px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 9px;
}
.nav--btn--container {
  display: flex;
  right: 20px;
  align-items: center;
  gap: 20px;
  padding-right: 3%;
  justify-content: flex-end;
  min-width: fit-content;
}
.navbtn:link,
.navbtn:visited {
  font-size: 20px;
  font-weight: 600px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 9px;
}
.btn--boka {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600px;
  background-color: #555;
  color: #f7f7f7f7;
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 5px;
}
/* ---------- */

/* HAMBURGER MENY */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  background: black;
  z-index: -1;
}
#main-menu {
  display: block;
  height: 100px;
  width: 100%;
  background: #fff;
  margin: 0px;
  z-index: 9;
  float: right;
}
#main-menu ul {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
}
#main-menu li {
  list-style-type: none;
  font-size: 0.5rem;
}
#main-menu a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}
#main-menu a:hover {
  text-decoration: underline;
}
#hamburger-input {
  display: none;
}
#hamburger-menu {
  position: fixed;
  top: 10px;
  right: 20px;
  width: 6vh;
  height: 6vh;
  display: none;
  border: none;
  padding: 0px;
  margin: 0px;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath fill="%23ffffff" d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: center;
}
#hamburger-menu #sidebar-menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 60%;
  height: 100%;
  background-color: rgba(26, 25, 25, 0.9);
  transition: 0.3s;
  padding: 0px 10px;
  box-sizing: border-box;
}
#hamburger-menu h3 {
  color: #fff;
  font-size: 2.2rem;
}
#hamburger-menu ul {
  padding-left: 0px;
}
#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}
#hamburger-menu a {
  color: #fff;
  font-size: 1.3rem;
  text-decoration: none;
}
#hamburger-menu a:hover {
  text-decoration: underline;
}
#hamburger-input:checked + #hamburger-menu #sidebar-menu {
  visibility: visible;
  left: 0;
}
#hamburger-input:checked ~ .overlay {
  visibility: visible;
  opacity: 0.4;
}
/* ---------- */

/* HEADER  */
.header--container {
  width: 1200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.header--container p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 8px;
}
.header--container--inner {
  width: 50%;
}
.header--header--bokning {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgba(26, 25, 25, 0.8);
  color: #fff;
  opacity: 1.5;
}
.header--bokning {
  min-height: 100vh;
  position: relative;
  background-image: linear-gradient(rgb(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)),
    url(Bilder/pool.jpg);
  background-size: cover;
  color: #fff;
}
.header--container--bokning {
  width: 1000px; /*Här vill jag ha flex*/
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.192);
  border-radius: 9px;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 20px;
  padding: 25px;
  flex: 1 0 auto;
}
.header--container--bokningsinformation--bokning {
  margin: auto;
  text-align: start;
  min-height: 0;
  max-height: 2500px;
}
.header--container--layout--bokning {
  flex: 1 275 150px;
  margin: auto;
  min-height: 0;
  max-height: 2500px;
}
.input--bokning {
  border-radius: 3px;
  background-color: #444;
  color: #fff;
}
.input--bokning,
select {
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
}
.input--bokning::placeholder {
  color: #fff;
}
.imgLayout {
  width: 100%;
  margin-right: 25%;
  border-radius: 5px;
  /* mix-blend-mode: color-burn;  ganska ball syntax som tar bort vit bakgrund på bilder*/
}
.menyPil {
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: #fff;
  border-width: 0px 3px 3px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}
.menyPil:hover {
  border-bottom-width: 3vh;
  border-right-width: 3vh;
}
.container--menyPil {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 85vh;
}
.menyPilText {
  /*Lägg till flex och blockad box för att förhindra overflow*/
  display: flex;
  justify-content: center;
  margin-left: -4.2%;
}
.btn--boka .confirmation {
  visibility: hidden;
  width: 260px;
  background-color: #555;
  color: #f7f7f7f7;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}
.btn--boka .confirmation:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.btn--boka .visa {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
/* ---------- */

/* BODY  */

/* ---------- */

/* FUNCTION  */

/* ----------- */

/* SECTION */
.aktuell-post h6 {
  margin-bottom: 10px;
}
.selection-box {
  align-items: center;
}
.asideHuvudsida {
  flex: 0 0 300px;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  margin: 0 30px;
  height: 100%;
  padding: 30px 0;
}
.small-box {
  gap: 20px;
  display: flex;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  margin-bottom: 100px;
}
.text-filler {
  width: 50%;
  padding-top: 5px;
}
.text-filler h2 {
  font-size: 80px;
  border-bottom: 1px solid #444;
}
.container--meny {
  margin: 0 auto;
  margin-top: 10px;
  width: 1200px;
  align-items: baseline;
  background-color: #f7f7f7f7;
}
.container--inner--left--meny {
  float: left;
  width: 40%;
  background-color: #f7f7f7f7;
}
.container--inner--right--meny {
  float: right;
  width: 40%;
  background-color: #f7f7f7f7;
}
#sectionMeny {
  padding: 96px 0;
  background-color: #f7f7f7f7;
  height: 150vh;
}
/* ------------ */

/* FOOTER */
#footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  line-height: 1.5;
  color: #555;
  font-size: 18px;
  gap: 20px;
  background-color: #e5deca;
}
.containerFooter {
  margin: 0 auto;
  margin-top: 10px;
  width: 100%;
  align-items: baseline;
  background-color: #e5deca;
}
.footer h3,
h4,
h5,
h6 {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 400px;
}
.ulList {
  font-size: 18px;
  margin-bottom: 0;
}
.footer--left {
  width: 25%;
}
.footer--middle--left {
  width: 25%;
}
.footer--middle--right {
  width: 25%;
}
.footer--middle--right {
  width: 25%;
}
.footer--right {
  width: 25%;
}
.mail--container {
  display: flex;
  align-items: center;
}
/* --------- */

/* Listor */
.ul--footer {
  line-height: 1.5;
  list-style-type: none;
}
.ulMeny {
  list-style: none;
  font-family: "Rubik", sans-serif;
  color: #444;
}
.liHuvudmeny {
  margin-bottom: 5px;
  border-bottom: 2px #444 dotted;
  font-size: 26px;
  line-height: 3;
}
.liHuvudmeny span:nth-child(odd) {
  padding-right: 6px;
  color: #444;
}
.liHuvudmeny span:nth-child(even) {
  float: right;
  padding-left: 6px;
  color: #444;
}
.ulMeny span {
  position: relative;
  bottom: -7px;
}
/* ------- */

/* Ikoner */
svg {
  width: 32px;
  height: 32px;
  margin-bottom: 20px;
}
/* ------- */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* MEDIA FÖR MOBIL */
@media screen and (max-width: 750px) /* Man kan göra flera styck "media screen and (max-width: xxxPX) för att anpassa efter olika IKT:er /Men anpassningen gäller också vid resizing av webläsare */ {
  .nav--btn--container {
    display: none;
  }
  #sectionMeny {
    float: none;
    width: 100%;
  }
  .big--container {
    float: none;
    width: 100%;
  }
  /* .meny--huvud {
    display: none;
  } */
  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: inline;
  }
  .container--meny {
    display: block;
    float: none; /* objekten får inte hoppa runt o jiddra*/
    width: 100%; /* för att fylla ut mobil skärmen - Tror inte kodraden behövs för det som är slutet av annat, t.ex. om body omfattas av container, då behöver inte body kodraden*/
  }
  .body {
    float: none;
    width: 100%;
  }
  .header--bokning {
    float: none;
    width: 100%;
  }
  .header--header--bokning {
    overflow-x: hidden; /* för att ta bort överflöd från header och ta bort höger/vänster scroll "x axeln"*/
    overflow-y: hidden; /* y-axeln */
    float: none;
    width: 100%;
  }
  .meny--huvud {
    flex-direction: column; /* Navigationlänkarnas uppdelning, "row" inte ett alternativ då jag ännu ej lokaliserat vart avståndet mellan knapparna definieras */
    place-items: end; /* Navigationslänkarnas position*/
    float: none;
    width: 100%;
  }
  .header--container--bokning {
    overflow-x: hidden;
    overflow-y: hidden;
    float: none;
    width: 100%;
  }
  .header--container--bokningsinformation--bokning {
    margin-top: 50%; /* lösning då navigationsfälten överlappade över "Namn" fältet som behövs för bokning, kan tas bort när avståndet mellan knapparna åtgärdats*/
    float: none;
    width: 100%;
  }
  .header--container--layout--bokning {
    flex-direction: row;
    float: none;
    width: 100%;
  }

  /* .section {
    float: none;
    width: 100%;
  } */

  .container--menyPil {
    display: none;
  }
  .menyPil {
    display: none;
  }
  .menyPil:hover {
    display: none;
  }
  .menyPilText {
    display: none;
  }
  .div.container--menyPil {
    display: none;
  }

  .liHuvudmeny {
    float: none;
    width: 100%;
  }
  .ulMeny {
    float: none;
    width: 100%;
  }
  .container--inner--left--meny {
    float: none;
    width: 100%;
  }
  .container--inner--right--meny {
    float: none;
    width: 100%;
  }
  /* .h1 {
    float: none;
    width: 100%;
  } */
  .navbtn:link,
  .navbtn:visited {
    padding: none;
    font-size: 10px; /* ändrar om storlek vid mobilskärm*/
    float: none;
    width: 100%;
    height: 5px;
  }
  div.meny--huvud {
    gap: 0.01px; /* försök att minska avståndet mellan navigationsknapparna, då det är väldigt stort*/
    border-style: outset;
    border-top: none;
  }
  .btnLoggan {
    /*position:end; /*funkar ej*/
    font-size: 20px; /*ändrar om loggans storlek vid mobilskärm*/
    float: none;
    width: 100%;
  }
  .containerFooter {
    flex-direction: column;
    float: none;
    width: 100%;
    margin-top: 722px;
  }
}
/* ---------- */
